body{
	margin:0;
	padding:0;
  background-color:#f4f3f1;
  font-family: Arial, Helvetica, sans-serif;
	-webkit-touch-callout:none;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}

.container{
  display:block;
  margin:0 auto;
  overflow: hidden;
  min-height: 480px;
  padding-bottom:10px;
  background-color:#412911;
  background-repeat: no-repeat;
  background-size: 1020px 680px;
  background-position: center -40px;
  background-image:url("assets/imgs/bg.jpg");

  &.direction-rtl{
    direction: rtl;
  }

  &.display-confirm .ctaInitial{
    display: none;
  }

  &.display-confirm .cta{
    display: block;
  }

  &.guide,
  &.guide .creativeArea,
  &.guide .subscriptionArea,
  &.guide .persuasiveArea,
  &.guide .legalArea{
    border: 1px dashed red;
  }

}

.header{
  height:50px;
  display: block;
  background-color: #fec226;
  background-size: 179px 41px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(assets/imgs/brand-logo.png);
}

.creativeArea{
  width:320px;
  height:190px;
}

.spaceWrap{
  margin:10px;
  display: block;
}

.quizArea{
  height: auto;
  display:block;
  margin:0 auto;
  max-width:480px;
  position: relative;
  text-align: center;
  border-radius: 25px;
  border:3px solid #fec226;
  background-color: #3e2a19;
  padding:15px 10px 30px 10px;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.95), 0px 2px 2px rgba(0,0,0,0.75);

  &::after{
    content:"";
    top: -50px;
    width:78px;
    height:83px;
    right: -10px;
    display: block;
    position: absolute;
    background-size: 100% auto;
    background-image: url(assets/imgs/coffebean.png);
  }

  .panel{
    display:none;
  }

  &.display-quiz1 .quiz1,
  &.display-quiz2 .quiz2,
  &.display-quiz3 .quiz3{
    display: block;
  }

  .steps{
    margin:0;
    padding:0;
    display: flex;
    position: relative;
    justify-content:space-around;

    &.active-step1 .step1,
    &.active-step2 .step2,
    &.active-step3 .step3{
      color:#fec226;
    }

    &::before{
      content:"";
      top:20px;
      left:0px;
      z-index:0;
      right:0px;
      width:70%;
      margin:0 auto;
      position: absolute;
      border-bottom:3px solid #150d06;
    }


    li{
      z-index: 2;
      width:25px;
      height:25px;
      margin:10px 0;
      color:#513923;
      position: static;
      list-style: none;
      font-weight:bold;
      line-height: 25px;
      text-align: center;
      border-radius: 100%;
      background-color: #150d06;
    }

  }

  .question{
    margin:10px;
    color:#fff;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }

  button{
    width:100%;
    margin:6px 0;
    outline:none;
    cursor:pointer;
    color:#452c15;
    font-size: 16px;
    font-weight:bold;
    padding:15px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    border:1px solid #ffd200;
    background: rgb(255,181,45); 
    box-shadow:inset 0px 0px 2px rgba(255,255,255,0.5), 0px 2px 2px rgba(0,0,0,0.75);
    background: -moz-linear-gradient(top,  rgba(255,181,45,1) 0%, rgba(255,116,10,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(255,181,45,1) 0%,rgba(255,116,10,1) 100%);

    &:hover{
      opacity:0.85;
    }

  }

}

.subscriptionArea{
  width:320px;
  display: flex;
  min-height: 80px;
  align-items:center;
  flex-direction: column;
  justify-content:center;

  &.view-row{
    flex-direction: row;
  }

  .ctaInitial,
  .cta{
    color:#fff;
    border:none;
    width:280px;
    height: 60px;
    outline: none;
    cursor:pointer;
    font-size: 18px;
    font-weight:bold;
    text-align: center;
    border-radius: 30px;
  }

    .ctaInitial{
      background-color:#39b54a;
    }

   .cta{
     display: none;
     background-color:#00aeef;
   }
}

.persuasiveArea{
  width:100%;
  height: 50px;
  display: flex;
  margin:10px 0;
  align-items:center;
  justify-content:center;
  background-color:#f4f3f1;
  background-size: 220px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(assets/imgs/mentions.png);
}

.legalArea{
  color:#999;
  padding:10px;
  margin:0 auto;
  font-size: 12px;
  max-width:460px;
  line-height: 1.5em;
  text-align: justify;
  // min-height:300px;
}

.timerArea{
  left:0;
  right:0;
  top:-45px;
  width:100px;
  height: 35px;
  padding:10px;
  color:#fff;
  margin:0 auto;
  display:block;
  font-size: 24px;
  font-weight:bold;
  line-height: 35px;
  position: absolute;
  text-align: center;
  border-radius: 25px;
  border:3px solid #fec226;
  background-color: #3e2a19;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.95), 0px 2px 2px rgba(0,0,0,0.75);
}